In [0]:
SELECT
  state_abbr,
  SUM(CAST(REPLACE(`GHG emissions mtons CO2e`,",","") AS DOUBLE)) as total_emissions
FROM
  test_sakthi.my_schema.emissions_data
group by 
  state_abbr
order by 
  total_emissions desc  
LIMIT 10;