In [0]:
SELECT
  county_id,
  county_state_name,
  CAST(REPLACE(`GHG emissions mtons CO2e`, ",", "") AS DOUBLE) total_emissions
FROM
  test_sakthi.my_schema.emissions_data

ORDER BY
  total_emissions DESC
LIMIT 10